* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
	background-image: linear-gradient(to bottom right, rgba(39, 143, 30, 0.5), rgba(6, 61, 11, 0.5)), url("../img/fundo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;
	padding: 30px 0;

	h2 {
		font-size: 14px;
		font-style: italic;
	}	
}

.footer {
	background-color: rgb(50, 87, 50);
	color: white;
	text-align: center;
	font-size: 14px;

	>* {
		padding: 5px;
	}
}